@use "../../styles/App.scss";

.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #9ca4b3;
  border-radius: 4px;
  max-width: 328px;

  &:focus-within label {
    transform: translate(0, -10px) scale(0.7);
    padding: 3px;
    color: #10a8c9;
  }

  .filled {
    transform: translate(0, -10px) scale(0.7);
    padding: 3px;
  }

  .icon {
    position: absolute;
    width: 24px;
    right: 14px;
  }

  label {
    position: absolute;
    pointer-events: none;
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #9ca4b3;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1;
    left: 16px;
  }

  input {
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  input:focus {
    box-shadow: 0 0 0 1px #10a8c9;
  }

  &_error {
    border: 1px solid #d82045;

    input:focus {
      box-shadow: 0 0 0 0.5px #d82045;
    }

    label {
      color: #d82045;
    }

    &:focus-within input {
      border: 1px solid #d82045;
    }

    &:focus-within label {
      color: #d82045;
    }
  }

  &_size_M {
    input {
      height: 40px;
    }
    label {
      transform: translate(0, 10px) scale(1);
    }
    .icon {
      top: 10px;
    }
  }

  &_size_L {
    input {
      height: 56px;
    }
    label {
      transform: translate(0, 20px) scale(1);
    }
    .icon {
      top: 16px;
    }
  }
}
