:root {
  --primary: #10A8C9;
  --light-primary: #11b7db;
  --ultra-light-primary: #e8f7fa;
  --dark-primary: #0e97b5;
  --gray: #515b6c;
  --light-gray: #d7dbe2;
  --white: #fff;
  --orange: #f2994a;
}
