@use "../../styles/App.scss";

.avatar {
  display: flex;
  align-items: center;

  &_size {
    &_s {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--orange);
      font-size: 14px;
      font-weight: 700;
    }

    &_M {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--orange);
      font-size: 16px;
      font-weight: 700;
    }

    &_L {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background-color: var(--orange);
      font-size: 24px;
      font-weight: 700;
    }
  }

  &_colors {
    &_black {
      color: #10203b;
    }

    &_dark_grey {
      color: #515b6c;
    }

    &_grey {
      color: #9ca4b3;
    }

    &_light_grey {
      color: #d7dbe2;
    }

    &_bg {
      color: #f9f9f9;
    }

    &_profile_block {
      color: #263650;
    }

    &_main {
      color: #10a8c9;
    }

    &_red {
      color: #d82045;
    }

    &_green {
      color: #03d087;
    }

    &_orange {
      color: #f2994a;
    }
  }
}
